GMAIL_APP_PASSWORD=""
GMAIL_EMAIL=""
HIBPKEY=""
SHODANKEY=""
SECURITYTRAILSKEY=""
GOOGLECX=""
GOOGLEKEY=""
DEFAULT_ETH=""
REPORT_DIR=""
MASSCAN_PATH=""
DNS_SERVER=""
NMAP_PATH=""
NMAP_TIMING="1"
BASEDIR=""
PREFIX=""
SSLSCAN_BIN=""